pandas
pandas-gbq
google-api-core
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
googleads
requests
ruff
python-dotenv
pyodbc
gspread
oauth2client
pyjwt
cryptography
pydantic
pydantic[email]
sqlalchemy
dateparser
pytest
pytest-cov
pylint
toml
flake8
chardet
boto3
s3fs
