pandas
pandas-gbq
google-api-core
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
googleads
requests
gspread
oauth2client
cryptography
pydantic
pydantic[email]
sqlalchemy
dateparser
pytest
pytest-cov
pylint
flake8
chardet
boto3
s3fs
PyExecJS
dbt-core
dbt-bigquery
pytz
pyodbc
pre-commit
sqlfluff
data-diff
elementary-data[bigquery]
python-dotenv
