pytest
pytest-cov
pre-commit
pyarrow
pandas
googleads
google-api-core
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
pydantic
boto3
