dbt-core==1.8.3
dbt-bigquery==1.8.2
pytz==2023.3
pyodbc
pre-commit
sqlfluff
data-diff
google-cloud-bigquery==3.30.0
elementary-data[bigquery]
pyyaml
boto3
botocore
pydantic
pydantic[email]
pandas
requests
google-cloud-bigquery==3.30.0
boto3
botocore
google-cloud-bigquery-storage
logbook
google-auth
google-auth-oauthlib
google-crc32c
sqlalchemy
dateparser
